.jobs-container{
    background-color: #fff;
    height: 100vh;
    font-family: "Roboto";
    padding: 20px;
}
@media screen and (max-width:768px) {
    .jobs-container{
        padding: 40px;
    }
}
.jobs-card-container{
    border: gray solid 2px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.jobs-card{
    display: flex;
    justify-content: space-between;
}
.jobs-para{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.jobs-scroll-container{
    overflow-y: scroll;
    height: 70vh;
}