.sidebar-bg-container{
padding-left: 20px;
padding-top: 20px;
width: 20%;
height: 100vh;
flex-shrink: 0;
border-right: 1px solid #E2E2E2;
background: #FFF;
}

.typography{
color: #F89A23;
font-family: "Poppins";
font-size: 19.66px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.Matters{
color: #02969C;
font-family: 'Poppins';
font-size: 19.66px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sidebar-heading{
color: #2D60FF;
font-family: "Roboto";
font-size: 20px;
text-decoration: none;
}
.sidebar-header{
    display: flex;
    align-items: center;
}
.sidebar-content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-items-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 50px;
}
.profile-section{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.logout-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 75px;
    background-color: #2D60FF;
    color: #FFF;
    font-family: "Roboto";
    border: #2D60FF solid 1px;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}