.all-tran-bg-container{
    display: flex;
    background-color: #f1f1f1;
    font-family: Roboto;
}
.all-tran-main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}
.all-tran-nav-container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 78lvw;
    height: 60px;
    padding: 10px;
}
.all-tran-ul-container{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
}
.all-tran-li-items{
    border: none;
    background-color: transparent;
    padding: 10px;
    font-family: Roboto;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    margin-left: 15px;
}
.items{
    margin-left: 20px;
}
.all-tran-nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all-tran-details-container{
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    border: solid grey;
}
.all-tran-tab-details{
    list-style-type: none;
}
.all-tran-tabs-heading{
    font-family: "Roboto";
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.all-tran-tabs{
    border: none;
    background-color: transparent;
    padding: 10px;
    font-family: "Roboto";
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading{
    font-weight: bold;
    margin-left: 10px;
}
.hr-line{
    width: 100%;
}